@model EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "CategoryAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Kategori Ekle</h1>

@using (Html.BeginForm("CategoryAdd", "Category", FormMethod.Post))
{
    @Html.Label("Kategori Adı")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Name)
    <br />
    @Html.Label("Kategori Açıklaması")
    @Html.TextAreaFor(x => x.Description, 15, 3, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Description)
    <br />
    <button class="btn btn-info">Kategoriyi Kaydet</button>
}